<%- model_class = Geocach -%>
<div class="page-header">
	
	<% unless @geocach.blank? %>
 

	
  <h1>Congratulations  - You have found <%= @geocach.cache_name.capitalize %></h1>
</div>

<p>
	<strong>
This cache has been found 33 times now  
</strong>
</p>

Sign up to set up your our talking geocaches click here
<p>
	
	</p>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @geocach.name %></dd>
 
 
 

<% unless @geocach.lat.blank? %>
  <dt><strong>lat:</strong></dt>
  <dd><%= @geocach.lat  %></dd>
<%end%>

<% unless @geocach.lad.blank? %>
  <dt><strong>lad:</strong></dt>
  <dd><%= @geocach.lad  %></dd>
<%end%>


<% unless @geocach.hide.blank? %>
  <dt><strong>This Cache was hid:</strong></dt>
  <dd><%= @geocach.hide  %></dd>
<%end%>

<% unless @geocach.found.blank? %>
  <dt><strong>Times Found:</strong></dt>
  <dd><%= @geocach.found  %></dd>
<%end%>

 
</dl>

	<%else%>
	
	<p>
		Sorry
		</p>
	<%end%>
 
