<%- model_class = Geocach -%>
<div class="page-header">
  <h1>GeoCache - <%= @geocach.cache_name.capitalize %></h1>
</div>
 

<div class"block ">
<dl class="dl-horizontal">
 
<% unless @geocach.lat.blank? %>
  <dt><strong>lat:</strong></dt>
  <dd><%= @geocach.lat  %></dd>
<%end%>

<% unless @geocach.lad.blank? %>
  <dt><strong>lad:</strong></dt>
  <dd><%= @geocach.lad  %></dd>
<%end%>

 
<% unless @geocach.hide.blank? %>
  <dt><strong>Hid On:</strong></dt>
  <dd><%= @geocach.hide  %></dd>
<%end%>

<% unless @geocach.found.blank? %>
  <dt><strong>Times Found:</strong></dt>
  <dd><%= @geocach.found  %></dd>
<%end%>
 <dt><strong>Random Code:</strong></dt>
 <dd><%= @geocach.random_code  %></dd>
 
</dl> 
 
 
  <%= link_to t('.back', :default => t("helpers.links.back")),
              geocaches_path, :class => 'btn btn-flat btn-info'   %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_geocach_path(@geocach), :class => 'btn btn-flat btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              geocach_path(@geocach),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-flat' %>
</div>
